.product-image{
    margin-top: 30px;
    width: 100%;
    height: 400px;
    object-fit: contain;
}

.button{
    margin-left: 10px;
}

.quantity-group{
    margin-top: 20px;
}

.quantity-group input{
    margin-left: 7px;
    margin-right: 7px;
    flex: 1;
    /* color: blueviolet; */
    border: 1px solid blueviolet;
    text-align: center;
    border-radius: 25% 10%;
    height: 40px;
    width: 45px;
    /* border-right: 0px; */
}

.product-detail{
    margin-top: 50px;
    margin-bottom: 80px;
}

.detail {
    margin-top: 50px;
}

.detail h1 {
    font-style: normal;
    color: blueviolet;
    text-decoration: underline;
}

h1,h5,h6{
    margin-bottom: 20px;
}

