<div class="user-auth">
    <h1>User Signup</h1>
    <p style="color: green;">{{signupMessage}}</p>
    <form #userSignup="ngForm" class="common-form" (ngSubmit)="signup(userSignup.value)">
        <input type="text" class="form-input" name="name" placeholder="Enter user name" ngModel />
        <input type="email" class="form-input" name="email" placeholder="Enter user email" ngModel />
        <input type="password" class="form-input" name="password" placeholder="Enter user password" ngModel />
        <button type="submit" class="btn btn-outline-primary">Sign Up</button>
    </form>
</div>
