<ngb-carousel *ngIf="popularProducts">
	<ng-template *ngFor="let abc of popularProducts" ngbSlide>
		<div class="picsum-img-wrapper carousal">
			<a routerLink="/detail/{{abc.id}}"><img class="poroduct-header-img" src={{abc.image}} alt="Random first slide" /></a>
		</div>
		<div class="carousel-caption">
			<h3>{{abc.name}}</h3>
			<p>{{abc.discription}}</p>
		</div>
	</ng-template>
</ngb-carousel>
<div class="product-list-wrapper">
    <h1>Trendy Products</h1>
    <div class="row">
        <div class="col-sm-3" *ngFor="let abc of popularProducts">
            <div class="product-item">
                <img src={{abc.image}} alt="apple" />
            
                <div class="product-details">
                    <h6 class="name-head">{{abc.name}}</h6>
                
                    <div class="product-price">
                        <h6>Price: {{abc.price}}</h6>
                    </div>
                    <div class="product-discription">
                        <h6>{{abc.discription}}</h6>
                    </div>
                </div>
                <div class="product-footer">
                    <a routerLink="/detail/{{abc.id}}" class="btn btn-warning">View Details</a>
                    <a href="" class="btn btn-primary">Add To Cart</a>
                </div>
            </div>
        </div>
    </div>
</div>